:root {
    --blu: #372772;
    --blu-tr: #372772de;
    --chrome-yellow: #faa613;
    --chrome-yellow-tr: #faa513c4;
}

.mg-top {
    margin-top: 100px;
}

.bg-category {
    background: linear-gradient(
        340deg,
        rgba(253, 253, 253, 1) 14%,
        rgba(55, 39, 114, 1) 65%
    );
}

.p-radius {
    border-radius: 0.8rem;
}

* {
    font-family: "Montserrat", sans-serif;
}

.bg-blu {
    background-color: var(--blu);
}

.text-blu {
    color: var(--blu);
}

.bg-nav {
    background-color: var(--blu-tr);
}

.bg-yellow {
    background-color: var(--chrome-yellow);
}

.bg-yellow-tr {
    background-color: var(--chrome-yellow-tr);
}

.text-chromeyellow {
    color: var(--chrome-yellow);
}

.text-shadow {
    text-shadow: 2px 2px 5px rba(0, 0, 0, 1);
}

.nav-link:hover {
    background-color: var(--chrome-yellow);
    color: white;
    border-radius: 2rem;
    transition: 3s;
}

.p-form {
    background: linear-gradient(
        340deg,
        rgba(253, 253, 253, 1) 14%,
        rgba(55, 39, 114, 1) 65%
    );

    border-radius: 0.8rem;
}

.border-bottom-yellow {
    border: none !important;
    border-radius: 0px;
    border-bottom: 4px solid rgb(250, 200, 70) !important;
}

.header {
    height: 100vh;
    min-height: 500px;
    background-image: url("https://images.unsplash.com/photo-1607083207118-f60f4fff8efe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-position: center;
}

.p-card {
    background-color: var(--blu);
    border: none;
    border-radius: 0.8rem;
}

.p-create {
    background: linear-gradient(
        340deg,
        rgba(253, 253, 253, 1) 14%,
        rgba(250, 166, 19, 1) 65%
    );
}
